@import url("lib/normalize.css");
@import url('https://fonts.googleapis.com/css?family=Muli|Source+Code+Pro');

:root {
    --black: #3E3E3E;
    --primary-color: #6450A1;
    --vivid-purple: #542EBD;
    --blue: #6c92ff;
    --dark-gray-1: #5E5E5E;
    --gray-1: #CECECE;
    --gray-2: #FCFCFC;
    --gray-3: #EFEFEF;
    --box-shadow-gray: rgba(0, 0, 0, 0.2);
    --lavendar-purple: #9d8ec7;
    --background-color: var(--gray-2);
    --text-face-color: var(--black);
    --xs-max: 575px;
    --sm-min: 576px;
    --sm-max: 767px;
    --md-min: 768px;
    --md-max: 991px;
    --lg-min: 992px;
    --lg-max: 1199px;
    --xl-min: 1200px;
    font-size: 0.625rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black);
        --text-face-color: var(--gray-2);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: var(--background-color);
    color: var(--text-face-color);
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .container {
        width: var(--lg-min);
        margin: 0 auto;
    }
}

.container {
    padding: 1em;
}

.footer {
    height: 10em;
}

.global-nav {
    height: 6rem;
}

.top-header-link {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 100%;
}

.header-icon {
    height: 100%;
}

.header-title {
    font-size: 2em;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.page-title-container {
    min-height: 14rem;
    width: 100%;
    background-color: var(--lavendar-purple);
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .page-title-container {
        background-color: var(--vivid-purple);
    }
}

.page-title {
    font-size: 4rem;
}
