.markdown p {
  margin: 0.5em 0;
  overflow-wrap: break-word;
  line-height: 2em;
}

.markdown a {
  overflow-wrap: break-word;
  color: var(--butterfly-blue);
}

.markdown a:hover {
  color: var(--violet);
}

.markdown h2 {
  margin-top: 2em;
  position: relative;
}

.markdown h2::before {
  content: "";
  display: flex;
  height: 100%;
  width: 8px;
  position: absolute;
  top: 0;
  left: -1em;
  background-color: var(--violet);
}

.markdown h3 {
  position: relative;
  display: inline-flex;
}

.markdown h3::before {
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: var(--text-face-color);
}
.markdown :not(pre) > code {
  padding: 0 0.5em;
  margin: 0 0.3em;
  background: var(--black);
  color: var(--gray-light-3);
}

@media only screen and (prefers-color-scheme: dark) {
  .markdown tbody tr:nth-child(2n) {
    background-color: var(--black);
  }
  .markdown :not(pre) > code {
    padding: 0 0.5em;
    margin: 0 0.3em;
    background: var(--gray-light-3);
    color: var(--gray-dark-3);
  }
}

.markdown code {
  font-family: "Source Code Pro", monospace;
  max-width: 100%;
  overflow-x: scroll;
  margin: 0 0.2em;
}

.markdown pre code {
  width: 100%;
  margin: 0;
  padding: 0 0.2em;
  background-color: var(--dracula-bg);
}

.markdown table {
  border-collapse: collapse;
}

.markdown th,
td {
  border: 1px solid var(--gray-light-1);
}

.markdown td {
  padding: 0.4em 1em;
}

.markdown tbody tr:nth-child(2n) {
  background-color: var(--gray-light-3);
}
.markdown ul li {
  line-height: 1.75em;
}

@media only screen and (prefers-color-scheme: dark) {
  .markdown tbody tr:nth-child(2n) {
    background-color: var(--black);
  }
}
