.markdown * {
    line-height: 1.5em;
}

.markdown p {
    margin: .5em 0;
    overflow-wrap: break-word;
    line-height: 2em;
}

.markdown a {
    overflow-wrap: break-word;
    color: var(--blue);
}

.markdown a:hover {
    color: var(--primary-color);
}

.markdown h2 {
    margin-top: 2em;
}

.markdown code {
    font-family: 'Source Code Pro', monospace;
    display: inline-flex;
    max-width: 100%;
    overflow-x: scroll;
}

.markdown pre code {
    width: 100%;
}

.markdown table {
    border-collapse: collapse;
}

.markdown th, td {
    border: 1px solid var(--gray-1);

}

.markdown td {
    padding: .4em 1em;
}

.markdown tbody tr:nth-child(2n) {
    background-color: var(--gray-3);
}

@media (prefers-color-scheme: dark) {
    .markdown tbody tr:nth-child(2n) {
        background-color: var(--dark-gray-1);
    }
}
