.posts-list--list {
    list-style: none;
    padding-left: 0;
}

.posts-list--item {
    background: var(--gray-light-3);
}
@media only screen and (prefers-color-scheme: dark) {
    .posts-list--item {
        background: var(--mat-black);
    }
    .posts-list--item:hover {
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
    }
}
.posts-list--item:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.posts-list--item > a {
    display: inline-block;
}
.posts-list--item + .posts-list--item {
    margin-top: 32px;
}
.posts-list--item-content {
    display: grid;
    grid-column-gap: var(--grid-column-gap);
    grid-template-rows: 2em auto 4em;
    grid-template-columns: var(--grid-template-columns);
    padding: 32px 0;
}

.posts-list--item-thumbnail {
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    width: 100%;
}

.posts-list--item-date {
    grid-column: 5 / 12;
}

.posts-list--item-title {
    grid-column: 5 / 12;
    font-size: 2rem;
    align-self: center;
    margin: 0;
    line-height: 2em;
}
