---
---

<site-preference>
  <template shadowroot="open">
    <link rel="stylesheet" href="/styles/site-preference.css" />
    <div class="container">
      <button type="button" data-toggle-button class="toggle-button">
        <img
          src="https://araya.dev/assets/gear-white.svg"
          alt="サイト設定"
          class="icon"
        />
      </button>
      <dialog data-dropdown-menu class="dropdown-menu">
        <ul>
          <li class="dropdown-menu-item">
            <span>Light</span>
            <span>Dark</span>
          </li>
        </ul>
      </dialog>
    </div>
    <style>
      .container {
        position: relative;
      }
      .icon {
        width: 48px;
      }

      .toggle-button {
        background: none;
        border: none;
      }

      .dropdown-menu {
        list-style: none;
      }

      dialog:not([open]) {
        pointer-events: none;
        opacity: 0;
      }

      .dropdown-menu {
        display: flex;
        width: 320px;
        flex-direction: column;
        background: var(--mat-black);
        box-shadow: 0 0 10px 0 var(--black);
        position: absolute;
        top: var(--global-nav-height);
        color: var(--gray-light-5);
        font-size: var(--font-size-body);
      }

      .dropdown-menu-item {
        height: 100px;
        display: flex;
        align-items: center;
      }
    </style>
  </template>
</site-preference>
