---
---

<site-preference>
  <template shadowroot="open">
    <link rel="stylesheet" href="/styles/site-preference.css" />
    <div class="container">
      <button type="button" data-toggle-button class="toggle-button">
        <img
          src="https://araya.dev/assets/gear-white.svg"
          alt="サイト設定"
          class="icon"
        />
      </button>
      <dialog data-dropdown-menu class="dropdown-menu">
        <ul>
          <li class="dropdown-menu-item">
            <span>Light</span>
            <span>Dark</span>
          </li>
        </ul>
      </dialog>
    </div>
  </template>
</site-preference>
