:root {
  font-size: 0.625rem; /* 10px */
  --font-size-120: 12rem;
  --font-size-64: 6.4rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-24: 2.4rem;
  --font-size-32: 3.2rem;

  --font-size-heading-1: var(--font-size-64);
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-heading-1: var(--font-size-120);
  }
}
