@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import "variables.css";
@import "font-size.css";

html {
  height: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--background);
  color: var(--white);
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.job-history-list > li + li {
  margin-top: 36px;
}

.container {
  --container-padding: 60px;
  width: 100%;
  height: 100%;
  padding: var(--container-padding);
  display: grid;
  grid-template-areas: "main nav";
}

.main-contents {
  grid-area: main;
  overflow-y: hidden;
}

.section {
  height: calc(100vh);
  height: calc(100dvh);
}

.nav {
  justify-self: end;
  grid-area: nav;
  display: grid;
  grid-template-areas:
    "navigation"
    "icon";
  grid-template-rows: 1fr 180px;
  gap: 24px;
}

.nav-list {
  grid-area: navigation;
  place-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}

.nav-item {
  font-size: var(--font-size-64);
  font-weight: bold;
}

.section-heading {
  font-size: var(--font-size-heading-1);
  font-weight: bold;
  margin-bottom: 90px;
  text-transform: uppercase;
}

.icon {
  --hex-width: 200px;
  --hex-height: calc(1.732 / 2 * var(--hex-width));
  --border-radius: 16px / 4%;
  grid-area: icon;
  border-radius: var(--border-radius);
  background: var(--primary-color);
  width: calc(var(--hex-width) / 2);
  height: var(--hex-height);
  position: relative;
  justify-self: end;
  place-self: end;
  display: grid;
  place-content: center;
  margin-inline-end: calc(var(--hex-width) / 4);
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  width: calc(var(--hex-width) / 2);
  height: var(--hex-height);
  border-radius: var(--border-radius);
  transform: rotate(60deg);
}
.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  width: calc(var(--hex-width) / 2);
  height: var(--hex-height);
  border-radius: var(--border-radius);
  transform: rotate(-60deg);
}

.icon img {
  width: 100%;
}

/*

.links {
  list-style: none;
  display: flex;
  justify-content: center;
}
.links li {
  height: 2em;
  margin: 0 1em;
}
.links a {
  display: inline-block;
  height: 100%;
}

.links img {
  height: 100%;
}
.profile {
  display: flex;
  justify-content: center;
}
.profile-contents {
  margin-left: 2em;
}
.profile-color {
  position: relative;
  padding-left: 1.5em;
}
.profile-color::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1em;
  height: 1em;
  border: 1px solid black;
  background-color: var(--primary-color);
}

.profile-list {
  list-style: none;
  padding: 0;
}

.profile-list li {
  line-height: 1.5em;
}
*/
