:root {
  --primary-color: #6450a1;
  --black: #3e3e3e;
  --shadow-black: #3e3e3eaa;
  --vivid-purple: #542ebd;
  --blue: #6c92ff;
  --dark-gray-1: #5e5e5e;
  --white: #ffffff;
  --gray-1: #cecece;
  --gray-2: #fcfcfc;
  --gray-3: #efefef;
  --dark: #342d48;
  --orange: #c8a378;
  --background: linear-gradient(
    127.83deg,
    #342d48 30.19%,
    var(--primary-color) 53.86%,
    var(--orange) 97.13%
  );
}
