:root {
    --primary-color: #6450A1;
    --black: #3E3E3E;
    --vivid-purple: #542EBD;
    --blue: #6c92ff;
    --dark-gray-1: #5E5E5E;
    --gray-1: #CECECE;
    --gray-2: #FCFCFC;
    --gray-3: #EFEFEF;
}
