body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 42, 185, 1) 35%, rgba(0, 212, 255, 1) 100%);;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
