<!DOCTYPE html>
html(lang="ja")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
            link(rel="stylesheet" href="/styles/main.css")
    body
        .container
            block content
        footer.footer
