extends _base

append head
    title Posts | Araya's reservoir
block content
    h2 Posts
    ul.posts-list
        each post in posts
            li.posts-list-item
                a(href=post.url).posts-list-item-inner
                    span.posts-list-item-title !{post.title}
                    span.posts-list-item-date !{post.date}
