{% extends "base.njk" %}
{% block header %}
    <title>Posts | Araya's reservoir</title>
    <link rel="stylesheet" href="./styles/posts-list.css">
{% endblock %}
{% block content %}
    <div class="page-title-container">
        <div class="container">
            <h1 class="page-title">Posts</h1>
        </div>
    </div>
    <main>
        <div class="container">
            <ul class="posts-list">
                {% for post in posts %}
                    <li class="posts-list-item">
                        <a href="{{ post.url }}" class="posts-list-item-inner">
                            <span class="posts-list-item-title">{{ post.title }}</span>
                            <span class="posts-list-item-date">{{ post.date }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
