{% extends "base.njk" %}
{% block header %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/markdown.css">
    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/lib/highlight.js/dracula.css">
    <script src="/js/highlight.js" defer></script>
{% endblock %}
{% block content %}

   <nav class="container">
   <ul class="post--breadcrumb">
       <li class="post--breadcrumb-item">
           <a href="/">投稿一覧</a>
       </li>
       <li class="post--breadcrumb-item">
           {{ title }}
       </li>
   </ul>
   </nav>
    <article class="container">
    <header class="post-header">
        <time class="post-header--datetime">{{ date }}</time>
        <h1 class="post-header--title">{{ title }}</h1>
    </header>
    <main class="post--main">
        <div class="post--content markdown">
            {{ content | safe }}
        </div>
    </main>
    </article>

{% endblock %}
