extends _base
append head
    title !{title}
    link(rel="stylesheet" href="/styles/markdown.css")
    link(rel="stylesheet" href="/styles/lib/highlight.js/dracula.css")
    <script src="/js/highlight.js" defer></script>
block content
    h1.post-title !{title}
    .markdown.post
        | !{content}
