<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        title !{title}
    body
        .markdown.post
            | !{content}
