<!DOCTYPE html>
<html amp lang="ja">
    <head>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/post.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="prefetch" href="/js/highlight.js" as="script">
        <link rel="prefetch" href="/styles/markdown.css">
        <link rel="prefetch" href="/styles/lib/highlight.js/dracula.css">
        <link rel="canonical" href={{canonicalUrl}}>
        {% block header %}{% endblock %}
    </head>
    <body>
        <nav class="global-nav">
            <div class="container global-nav-content">
                <a href="/" class="top-header-link">
                    <img src="https://araya.dev/assets/icon.svg" alt="icon image" class="header-icon">
                    <span class="header-title">araya's Reservoir</span>
                </a>
            </div>
        </nav>
        <div class="content">
            <nav class="container">
                <ul class="post__breadcrumb">
                    <li class="post__breadcrumb-item">
                        <a href="/">投稿一覧</a>
                    </li>
                    <li class="post__breadcrumb-item">
                        {{ title }}
                    </li>
                </ul>
            </nav>
            <article class="container">
                <header class="post-header">
                    <time class="post-header--datetime">{{ date }}</time>
                    <h1 class="post-header--title">{{ title }}</h1>
                </header>
                <main class="post--main">
                    <div class="post--content markdown">
                        {{ content | safe }}
                    </div>
                </main>
            </article>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer--contents">
                    <p>当サイト内の意見・感想等は全てaraya個人によるものであり特定の組織との一切の関わりを持ちません</p>
                    <img src="/assets/images/cc-by.svg" alt="License is CC-BY" class="footer--license">
                    <span class="footer--copy-right">&copy; araya</span>
                </div>
            </div>
        </footer>
    </body>
</html>