---
import SitePreference from "../components/site-preference.astro";
export interface Props {
  title: string;
}
import CCBy from "../assets/images/cc-by.svg";

const { title } = Astro.props;
import { BLOG_TITLE } from "../constants";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{title} - {BLOG_TITLE}</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-104175258-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-104175258-3");
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
  <body>
    <nav class="global-nav">
      <div class="container global-nav-content">
        <a href="/" class="top-header-link">
          <img
            src="https://araya.dev/assets/icon.svg"
            alt="icon image"
            class="header-icon"
          />
          <p class="header-title">
            <span class="header-title-main">{BLOG_TITLE}</span>
            <span class="header-title-sub">blog by araya</span>
          </p>
        </a>
        <SitePreference />
      </div>
    </nav>
    <div class="content">
      <slot />
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer--contents">
          <p>
            当サイト内の意見・感想等は全てaraya個人によるものであり特定の組織との一切の関わりを持ちません
          </p>
          <img src={CCBy} alt="License is CC-BY" class="footer--license" />
          <span class="footer--copy-right">&copy; araya</span>
        </div>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  @import "../styles/main.css";
</style>
<style>
  .heading__lined {
    position: relative;
  }

  .heading__lined::before {
    content: "";
    display: flex;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: -24px;
    background-color: var(--violet);
  }

  .global-nav {
    height: var(--global-nav-height);
    background: var(--global-nav-bg);
    color: var(--gray-light-4);
  }

  .global-nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    padding-bottom: calc(var(--footer-height) + 80px);
  }

  .top-header-link {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 100%;
  }

  .header-icon {
    height: 100%;
  }

  .header-title {
    display: inline-flex;
    height: 100%;
    align-items: flex-end;
    margin-left: 16px;
    font-family: var(--default-font-family);
    font-weight: 500;
  }
  .header-title-main {
    font-size: var(--font-size-xxl);
    line-height: 1;
  }
  .header-title-sub {
    margin-inline-start: 8px;
  }

  @media screen and (max-width: 767px) {
    .header-title {
      font-size: var(--font-size-md);
    }
  }
  .page-title {
    font-size: 4rem;
  }

  .footer {
    height: var(--footer-height);
    font-size: 1.6em;
    background-color: var(--global-nav-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-face-color);
  }

  .footer--contents {
    display: flex;
    flex-direction: column;
  }

  .footer--license {
    width: 5em;
  }

  .footer--copy-right {
    padding: 1em 0;
  }
</style>
