---
import SitePreference from "../components/site-preference.astro";
export interface Props {
  title: string;
}
import CCBy from "../assets/images/cc-by.svg";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{title}</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-104175258-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-104175258-3");
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
  </head>
  <body>
    <nav class="global-nav">
      <div class="container global-nav-content">
        <a href="/" class="top-header-link">
          <img
            src="https://araya.dev/assets/icon.svg"
            alt="icon image"
            class="header-icon"
          />
          <span class="header-title">araya's Reservoir</span>
        </a>
        <SitePreference />
      </div>
    </nav>
    <div class="content">
      <slot />
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer--contents">
          <p>
            当サイト内の意見・感想等は全てaraya個人によるものであり特定の組織との一切の関わりを持ちません
          </p>
          <img src={CCBy} alt="License is CC-BY" class="footer--license" />
          <span class="footer--copy-right">&copy; araya</span>
        </div>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  @import "../styles/main.css";
</style>
