:root {
  --black: #13111d;
  --navy: #1c1b3c;
  --mat-black: #333333;
  --gray-dark-3: #272627;
  --gray-dark-2: #4f4f4f;
  --gray-dark-1: #828282;
  --gray-light-1: #bdbdbd;
  --gray-light-2: #dedede;
  --gray-light-3: #e0e0e0;
  --gray-light-4: #f2f2f2;
  --gray-light-5: #f8f8f8;
  --mat-red: #eb5757;
  --orange: #f2994a;
  --canary-yellow: #f2c94c;
  --forest-green: #219653;
  --lime-green: #27ae60;
  --emeral-green: #6fcf97;
  --eyes-blue: #2f80ed;
  --butterfly-blue: #2d9cdb;
  --sky-blue: #56ccf2;
  --violet: #9b51e0;
  --amethyst-purple: #bb6bd9;
  --araya-purple: #6450a1;
  --dracula-bg: #282a36;
  --box-shadow-gray: rgba(0, 0, 0, 0.2);
  --lavendar-purple: #9d8ec7;
  --background-color: var(--gray-light-2);
  --text-face-color: var(--black);
  --xs-max: 425px;
  --sm-min: 426px;
  --sm-max: 767px;
  --md-min: 768px;
  --md-max: 1024px;
  --lg-min: 1025px;
  --lg-max: 1440px;
  --xl-min: 1441px;
  --grid-column-gap: 20px;
  --grid-template-columns: repeat(
    12,
    calc((100% - var(--grid-column-gap) * 11) / 12)
  );
  --footer-height: 142px;
  --font-size-huge: 4.8rem;
  --font-size-large: 2rem;
  --default-font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 0.625rem;
  --global-nav-bg: var(--gray-light-4);
}

html[data-color-scheme="dark"]:root {
  --background-color: var(--gray-dark-3);
  --text-face-color: var(--gray-light-4);
  --global-nav-bg: var(--black);
}

@media screen and (min-width: 1441px) {
  :root {
    --container-width: 1400px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  :root {
    --container-width: 980px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --container-width: 700px;
  }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  :root {
    --container-width: 380px;
  }
}
@media screen and (max-width: 425px) {
  :root {
    --container-width: 90%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
  color: var(--text-face-color);
  min-height: 100vh;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading__lined {
  position: relative;
}

.heading__lined::before {
  content: "";
  display: flex;
  height: 100%;
  width: 5px;
  position: absolute;
  top: 0;
  left: -24px;
  background-color: var(--violet);
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.global-nav {
  height: 8.2rem;
  background: var(--global-nav-bg);
}

.global-nav-content {
  height: 100%;
  display: flex;
}

.content {
  padding-bottom: calc(var(--footer-height) + 80px);
}

.top-header-link {
  display: flex;
  align-items: center;
  padding: 1em;
  height: 100%;
}

.header-icon {
  height: 100%;
}

.header-title {
  font-size: var(--font-size-huge);
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 16px;
  font-family: var(--default-font-family);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .header-title {
    font-size: var(--font-size-large);
  }
}
.page-title {
  font-size: 4rem;
}

.footer {
  height: var(--footer-height);
  font-size: 1.6em;
  background-color: var(--global-nav-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--text-face-color);
}

.footer--contents {
  display: flex;
  flex-direction: column;
}

.footer--license {
  width: 5em;
}

.footer--copy-right {
  padding: 1em 0;
}
