.markdown {
  --inline-codeblock-bg: var(--gray-light-2);
  --table-accent-color: var(--gray-light-4);
}

@media screen and (prefers-color-scheme: dark) {
  :root:not([data-color-scheme="light"]) .markdown {
    --inline-codeblock-bg: var(--black);
    --table-accent-color: var(--black);
  }
}

:root[data-color-scheme="dark"] .markdown {
  --inline-codeblock-bg: var(--black);
  --table-accent-color: var(--black);
}

.markdown p {
  margin: 0.5em 0;
  overflow-wrap: break-word;
  line-height: 2em;
}

.markdown a {
  overflow-wrap: break-word;
  color: var(--butterfly-blue);
}

.markdown a:hover {
  color: var(--violet);
}

.markdown h2 {
  margin-top: 3em;
  position: relative;
}

.markdown h2::before {
  content: "";
  display: flex;
  height: 100%;
  width: 8px;
  position: absolute;
  top: 0;
  left: -1em;
  background-color: var(--violet);
}

.markdown h3 {
  position: relative;
  display: inline-flex;
}

.markdown :not(pre) > code {
  padding: 0.2em 0.5em;
  margin: 0 0.3em;
  color: var(--text-face-color);
  background: var(--inline-codeblock-bg);
}

.markdown code {
  font-family: "Source Code Pro", "Lucida Console", Courier, monospace;
  max-width: 100%;
  overflow-x: auto;
  margin: 0 0.2em;
}

.markdown pre code {
  font-family: "Source Code Pro", "Lucida Console", Courier, monospace;
  width: 100%;
  margin: 0;
  padding: 0 0.2em;
  background-color: var(--dracula-bg);
  padding: 1em;
}

.markdown table {
  border-collapse: collapse;
}

.markdown th,
td {
  border: 1px solid var(--gray-light-1);
}

.markdown td {
  padding: 0.4em 1em;
}

.markdown tbody tr:nth-child(2n) {
  background-color: var(--table-accent-color);
}
.markdown ul li {
  line-height: 1.75em;
}

.markdown img {
  max-width: 100%;
}

.markdown .small {
  font-size: 0.65em;
}

.markdown blockquote {
  color: var(--gray-dark-1);
  position: relative;
  margin-inline: 0;
  padding-inline-start: 12px;
}

.markdown blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--gray-dark-1);
}
