.posts-list__root {
  --item-bg: var(--gray-light-4);
  --item-hovered-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

@media screen and (prefers-color-scheme: dark) {
  :root:not([data-color-scheme="light"]) .posts-list__root {
    --item-bg: var(--mat-black);
    --item-hovered-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
  }
}

:root[data-color-scheme="dark"] .posts-list__root {
  --item-bg: var(--mat-black);
  --item-hovered-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

.posts-list__list {
  list-style: none;
  padding-left: 0;
}

.posts-list__item {
  background: var(--item-bg);
}
.posts-list__item:hover {
  box-shadow: var(--item-hovered-shadow);
}

.posts-list__item > a {
  display: inline-block;
  width: 100%;
}

.posts-list__item + .posts-list__item {
  margin-top: 32px;
}

.posts-list-item__content {
  font-size: 1.5rem;
  display: grid;
  grid-template-areas:
    "img date"
    "img title"
    "img description";
  grid-template-rows: 1.5em 8rem auto;
  column-gap: var(--grid-column-gap);
  row-gap: 12px;
  grid-template-columns: 40% 1fr;
  padding: 32px;
}

.posts-list-item__thumbnail {
  grid-area: img;
  width: 100%;
}

.posts-list-item__date {
  grid-area: date;
}

.posts-list-item__title {
  font-size: 2rem;
  line-height: 1.6em;
  align-self: center;
  grid-area: title;
  margin: 0;
}
.posts-list-item__description {
  grid-area: description;
  line-height: 1.5em;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .posts-list-item__content {
    grid-template-areas:
      "img date"
      "img title"
      "img desc";
    grid-template-rows: auto 1em 1fr;
    grid-row-gap: 16px;
    padding: 32px 0;
  }

  .posts-list-item__thumbnail {
    grid-area: "img";
  }

  .posts-list-item__date {
    grid-area: "date";
  }

  .posts-list-item__title {
    grid-area: "title";
    font-size: 2rem;
    margin: 0;
    line-height: 2em;
  }
}
