.post__breadcrumb {
  margin: 62px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.post__breadcrumb-item a {
  color: var(--butterfly-blue);
}

.post__breadcrumb-item:not(:first-child)::before {
  content: ">";
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
}

.post-header {
  font-size: 3.6rem;
  line-height: 1.5em;
  padding: 30px 0;
  width: 100%;
  background: var(--gray-light-4);
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-template-columns: var(--grid-template-columns);
}

.post-header--datetime {
  font-size: 1.4rem;
  grid-column: 2 / 12;
  height: auto;
  line-height: 1.5em;
  display: flex;
  align-items: flex-end;
}

.post-header--title {
  font-size: inherit;
  grid-column: 2 / 12;
  margin: 0;
}

.post--main {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-template-columns: var(--grid-template-columns);
  background: var(--gray-light-5);
  margin-top: 24px;
  padding: 30px 0;
}

.post--content {
  grid-column: 2 / 12;
  font-size: 1.6rem;
  line-height: 1.5em;
  overflow: scroll;
}

.post__changelog {
}

.post__changelog a {
  color: var(--eyes-blue);
}

@media screen and (max-width: 767px) {
  .post-header {
    font-size: 2rem;
  }
  .post__container {
    width: 100%;
  }
  .post__breadcrumb {
    margin: 62px 0;
    font-size: 1.2rem;
    padding: 0;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .post--main,
  .post-header {
    background: var(--gray-dark-3);
    color: var(--gray-light-4);
  }
}
