:root {
  --color-white: #f5f5f5;
  --color-primary: #25232A;
  --color-black: #242424;
  --color-gray: #a6a6a6;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-primary);

  /* set the default font-color */
  color: var(--color-white);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
}
pre {
  background-color: var(--color-gray);
  color: var(--color-black);
  margin: 1.5em 0;
}
pre code {
  background: none;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

ul li, ol li {
  line-height: 2em;
}
/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}
