{% assign is_post = page.date %}
<!doctype>
<html lang="ja">

<head>
  <meta content='{{ page.title | escape }} - {{ site.title | escape }}' name='title' />
  <meta content='{{ page.title | escape }} - {{ site.title | escape }}' name='og:title' />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//necolas.github.io/normalize.css/7.0.0/normalize.css">
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  {% include head.html %}
</head>

<body>
  <header class="site-title">
    <a href="{{ site.url }}">
        <img src="{{ site.url }}/images/icon_circle.png" alt="Home" width="80" height="80">
      </a>
    <p>{{ site.title }}</p>
  </header>
  <div class="container">
      <nav aria-label="Main">
        <ul>
          {% for link in site.links %}
          <li>
            <a class="" href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
          {{ link.name }}
        </a> {% endfor %}
          </li>
        </ul>
      </nav>
      <main class="">
        {% if page.title %}
          {% if page.date %}
          <div class="">{{ page.date | date_to_string }}</div>
          {% endif %}
          <h1 class="page-title"> {{ page.title }} </h1>
          {% if is_post and site.share %}
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>
            ! function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
          </script>
          {% include hatena-b.html %}

          {% endif %}
        {% endif %}
        <div class="markdown-body">
          {{ content }}
        </div>
        {% if is_post %}{% include signoff.html %}{% endif %}

      </main>
  </div>
  <footer class="footer">
    <div class="footer-sns">
      <a href="https://twitter.com/_araya_" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/allajah" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a>
      <a href="/feed.xml" target="_blank" rel="noopener noreferrer"><i class="fa fa-rss"></i></a>
    </div>
  </footer>
</body>

</html>
